* {
  box-sizing: border-box;
}

html {
  background: url(../assets/img/minimal-lighthouse-night-hd-wallpaper.jpg) 0 0 /
      100% 100%,
    url(../assets/img/coast_lighthouse_4k.jpg) top right/ 600px 400px no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
  color: antiquewhite;
  font-size: 20px;
  scroll-behavior: smooth;
}

/*body*/
body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 10px;
}

a {
  font-family: "Dosis", sans-serif;
  color: antiquewhite;
}

.links {
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  transition: 0.5s;
}

.links:hover {
  background-color: brown;
  border-radius: 2px;
}

.links .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: rgba(35, 35, 35, 0.95);
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 55px;
  padding: 10px;
}

.header {
  background-color: rgba(35, 35, 35, 0.95);
  padding: 10px;
}

/*articles*/

.h-article {
  text-align: center;
  border-bottom: 2px antiquewhite;
}
.read:hover {
  text-decoration: none;
  color: aquamarine;
}
.comments {
  color: grey;
}
.p-article::first-letter {
  font-style: italic;
  font-size: 1.5rem;
  color: aquamarine;
}

/*Catalog*/

.ul-list {
  font-size: 30px;
  padding: 1em 2em;
}

.star {
  list-style-image: url(../assets/img/star.svg);
}

.li-list {
  font-size: 20px;
  background-color: rgb(210, 81, 81);
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px 10px 37px;
  list-style-image: url(../assets/img/heart.svg);
  width: 100%;
}

.l-after::after {
  content: "Upcoming";
  background: rgb(35, 35, 35);
  color: aliceblue;
  font-size: 70%;
  padding: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.capinput {
  text-transform: capitalize;
}
/*contacts*/

iframe {
  width: 100%;
}

fieldset {
  font-size: 1.5rem;
  max-width: 612px;
  margin: 0 auto;
}

label {
  font-size: 1rem;
}

.contactinput {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: black;
  margin-left: 3px;
}

.formborder:hover {
  outline: 2px dotted antiquewhite;
}

/*Gallery*/

.backgr {
  background: url(../assets/img/istockphoto-1171146127-170667a.jpg) repeat;
  font-family: "Dosis", sans-serif;
  color: antiquewhite;
  font-size: 20px;
}

.c-gallery {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

figcaption {
  font-size: 25px;
}

img {
  border: 7px solid antiquewhite;
  max-width: 300px;
  width: 100%;
}

img:hover {
  border: 7px solid transparent;
}

/*Navigation*/

.n-article {
  text-align: center;
  text-decoration: none;
}

.lilyrics {
  text-decoration: none;
  font-size: 25px;
}

.lyrics {
  text-align: center;
}
/*reg*/
.button {
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: black;
  justify-content: center;
}

/*footer*/

.footer {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgb(50, 50, 50);
}

.footer-copyright {
  font-family: "Dosis", sans-serif;
  color: antiquewhite;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 30px;
  line-height: 30px;
}
